<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="80ebad">  <td>18/08/30 12:39:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTestInitializeClass.setUp()[pri:0, instance:com.BookATable.TestGermanLanguage@dc24521]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="99f37e">  <td>18/08/30 12:39:26</td>   <td>10154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestGermanLanguage.verifyGermanLanguage()[pri:0, instance:com.BookATable.TestGermanLanguage@dc24521]">verifyGermanLanguage</td> 
  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/08/30 12:39:33</td>   <td>16832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTestInitializeClass.getResult(org.testng.ITestResult)[pri:0, instance:com.BookATable.TestGermanLanguage@dc24521]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/08/30 12:39:37</td>   <td>21479</td> <td title="&lt;&lt;BaseTestInitializeClass.sendMail()[pri:0, instance:com.BookATable.TestGermanLanguage@dc24521]">&lt;&lt;sendMail</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846412426</td>   <td></td> </tr>
</table>
