<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.BookATable.TestSplashScreen</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>appLaunchALLOWPermissionPopUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>com.BookATable.TestSearchByLocation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tapOnContactTab</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>searchByLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tapOnBookNowButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectCalendarDateforBooking</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyRestaurantNameAndAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>tapOnDONEButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectFirstRecordForLocationSearch</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>selectFirstRestaurantFromTheList</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyVerticalScrollInRestaurantList</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setUp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
